@media (min-width: 576px) {
	.info {
		grid-template-areas:
			'title box'
			'title box'
			'title box';
		padding: 10em 2em;
		&__box {
			display: grid;
			justify-content: end;
		}
		&__title {
			padding: 0 1em;
		}
		&__box-img,
		&__box-text {
			max-width: 500px;
		}
		&__bg-icon {
			position: absolute;
			display: block;
			opacity: 0.5;
			z-index: -5;
			&--one {
				top: 14%;
				width: 26%;
				animation: rootate-right 160s infinite linear;
			}
			&--two {
				bottom: 10%;
				left: 10%;
				width: 30%;
				animation: rootate-left 140s infinite linear;
			}
			&--three {
				top: 26%;
				width: 16%;
                width: 50%;
				animation: rootate-right 160s infinite linear;
			}
			&--four {
				top: 55%;
				width: -10%;
                width: 15%;
				animation: rootate-left 160s infinite linear;
			}
		}
	}
}
